body {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17px;
  line-height: 1.58;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

#map {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

#contents {
  padding: 4em 1em;
  box-sizing: border-box;
}

#title {
  max-width: 800px;
  margin-bottom: 3em;
}

#title h1 {
  line-height: 1.2;
  background-size: 120px;
}

h1, h2, h3 {
  padding: 0;
  margin: 0.25em 0;
}

p {
  margin: 0;
  padding-bottom: 1em;
}

p:last-child {
  padding: 0;
}

.box {
  padding: 1em;
  margin: 1em 0;
  max-width: 800px;

  /*box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);*/
  /*border-radius: 3px;*/

  border-radius: 4px;
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
}

@media (max-width: 750px) {
  article {
    padding: 1em;
  }
}

h1, h2 {
  font-family: 'Neuton', serif;
}

h1 {
  font-size: 500%;
}

h2 {
  font-size: 300%;
}

@media (max-width: 750px) {
  h1 {
    font-size: 200%;
  }

  h2 {
   font-size: 160%;
  }
}

.sticky {
  top: 10px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}

.floating-title {
  display: inline;
  max-width: 800px;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.3);

  padding-bottom: 20px;

  background-image: url('../images/waves.svg');
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 2em;
}

.waves {
  width: 100%;
  box-sizing: border-box;
  height: 27px;
  margin-top: 1em;

  background-image: url('../images/waves-thin.svg');
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 100px;
}

#areas li:nth-child(even) .alternate-sides {
  float: left;
}

#areas li:nth-child(odd) .alternate-sides {
  float: right;
}

body, .box {
  background-color: #fdfdfd;
}

body, a, a:visited {
  color: #222;
}

article a, article a:visited {
  text-decoration: none;
  border-color: #21acf9;
  border-width: 3px;
  border-bottom-style: solid;
}

p img {
  width: 100%;
}

header, main, footer {
  position: relative;
  pointer-events: none;
}

.box, .pointer-events {
  pointer-events: all;
}

#table-of-contents {
  columns: 2;
  padding: 0;
}

@media (max-width: 500px) {
  #table-of-contents {
    columns: 1;
  }
}

#table-of-contents li {
  margin-left: 2em;
}

#areas {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#areas li {
  clear: both;
}

.page {
  width: 100%;
  min-height: 190vh;
  position: relative;
  clear: both;
}

.area {
  box-sizing: border-box;
}

#map-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#map {
  height: 100vh;
}
