html {
  font-size: 14px;
}

body {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  font-size: 1.3rem;
}

#map {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

article {
  padding: 4em 10px;
  box-sizing: border-box;
}

#title {
  margin-bottom: 3em;
}

#title h1 {
  line-height: 1.5;
  padding-bottom: 0.3em;
  background-size: 120px;
}

h1, h2, h3 {
  padding: 0;
  margin: 0.25em 0;
}

p, ul, li {
  margin: 0;
  line-height: 2rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
}

.box-contents > *:last-child {
  margin: 0;
}

.box {
  padding: 1em;
  margin: 1em 0;

  /*box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);*/
  /*border-radius: 3px;*/

  border-radius: 4px;
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
}

figcaption {
  text-align: center;
}

@media (max-width: 750px) {
  section {
    padding: 5px;
  }

  figure {
    margin: 0;
  }

  .box {
    padding: 10px;
  }
}

h1, h2 {
  font-family: 'Neuton', serif;
}

h1 {
  font-size: 500%;
}

h2 {
  font-size: 400%;
}

@media (max-width: 750px) {
  #title h1 {
    font-size: 200%;
    background-size: 60px;
  }

  h2 {
   font-size: 160%;
  }
}

.sticky {
  top: 10px;
  padding: 20px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}

.title-container {
  padding-bottom: 1.4em;
}

.centered {
  text-align: center;
}

.wavy {
  display: inline;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.3);
  padding-bottom: 20px;
  background-image: url('../images/waves.svg');
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 1.4em;
}

.waves {
  width: 100%;
  box-sizing: border-box;
  height: 27px;
  margin-top: 1em;

  background-image: url('../images/waves-thin.svg');
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 100px;
}

.box {
  max-width: 650px;
}

#areas li.area:nth-child(even) {
  float: left;
}

#areas li.area:nth-child(odd) {
  float: right;
}

body, .box {
  background-color: #fdfdfd;
}

body, a, a:visited {
  color: #222;
}

section a, section a:visited, .link {
  text-decoration: none;
  border-color: #21acf9;
  border-width: 3px;
  border-bottom-style: solid;
}

.box-contents img {
  width: 100%;
}

header, main, footer {
  position: relative;
  pointer-events: none;
}

.box, .pointer-events {
  pointer-events: all;
}

#table-of-contents {
  columns: 2;
  padding: 0;
}

@media (max-width: 500px) {
  #table-of-contents {
    columns: 1;
  }
}

#table-of-contents li {
  margin-left: 2em;
}

#areas {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#areas li {
  clear: both;
}

.page {
  width: 100%;
  min-height: 190vh;
  position: relative;
  clear: both;
}

.area {
  box-sizing: border-box;
}

#map-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#map {
  height: 100vh;
}

.page-controls {
  /*position: absolute;
  list-style-type: none;*/
  /*margin: 0;*/
  /*padding: 0;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-controls > * {
  margin: 0 0.5em;
  margin-top: 10px;
}

.page-controls a {
  border: none;
}

.page-controls li {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #21acf9;
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
  top: calc(-1em - 15px);
  left: calc(-1em - 15px);
  margin-right: 1em;
}
