---
---
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8' />
  <title>The Changing Shoreline of New York City</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="css/style.css" />
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css' rel='stylesheet' />
  <link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet">
</head>
<body>
  <div id="map-container">
    <div id="map"></div>
  </div>
  <article>
    <header>
      <div class="page trigger-overview">
        <div id="title" class="pointer-events sticky">
          <h1 class="wavy">
            The Changing<br /> Shoreline<br /> of New York City
          </h1>
        </div>
      </div>
      <section class="box">
        <div class="box-contents">
          {% include header.html %}
        </div>
      </section>
      <div class="page">
      </div>
    </header>
    <main>
      <ol id="areas">
        {% for area_id in site.data.areas %}
          {% include area.html area_id=area_id %}
        {% endfor %}
      </ol>
    </main>
    <footer>
      <div class="page trigger-overview">
      </div>
      <section class="box">
        <div class="box-contents">
          {% include footer.html %}
        </div>
      </section>
    </footer>
  </article>
  <script type="text/javascript">
    var areas = {{ site.data.areas | jsonify }}

    var allGeojson = {% include areas.geojson %}
    var geojson = {
      type: 'FeatureCollection',
      features: allGeojson.features.filter(function (feature) {
        return areas.indexOf(feature.properties.id) >= 0
      })
    }

    allGeojson = undefined
  </script>
  <script src="js/scrollMonitor.js"></script>
  <script src="js/shorelines.js"></script>
</body>
</html>
