<h1>The Changing Shoreline of New York City</h1>
<p>
  The project aims to survey key points along New York City’s shoreline with a particular focus on Manhattan’s waterfront expansion. Historical maps of New York City juxtapose current coastal conditions of the city, revealing dramatic material landmass changes through time which are expressed through subtle contour differentiations mapped by a single line. The street grid of Manhattan, brought into effect by the Commissioners’ Plan of 1811, provokes a hard edged condition insensitive to the many natural ecologies and layered boundaries that Manhattan island once hosted. The plan imposes efficiency and modernity onto the diverse landscape contained in the original outline of the earliest maps of Manhattan, usually obliterating the natural conditions when confronted with a diverse shoreline.
</p>
<p>
  In an attempt to destabilize the perception of coastal boundaries in Manhattan today, the stories trace minute accounts of a Manhattan that was in the process of radical transformations. The focus on water further shifts the city imaginary to explore a territory that has been consecutively filled-in, uprooted, and neglected in the expansion of the great metropolis. This guided tour outlines existing programs along the hardened shoreline, a brief history of the site and its past shoreline qualities, as well as future proposals for many of these sites which today face variable urban pressures due to changing climate conditions and urban revitalization developments.
</p>
<ol id="table-of-contents">
  {% for area_id in site.data.areas %}
    {% assign path = '/areas/' | append: area_id %}
    {% assign area = site.areas | where:'id', path | first %}
  <li>
    <a href="#{{ area_id }}">{{ area.title }}</a>
  </li>
  {% endfor %}
</ol>